---
pagination:
   data: posts
   size: 1
   alias: sheet
layout: layouts/post.njk
permalink: "posts/{{ sheet.title | slug }}/"
tags:
  - post
eleventyComputed:
  title: "{{ sheet.tags }}"
  date: "{{ sheet.date }}"
  content: "{{ sheet.content }}"
  description: "{{ sheet.description }}"
---
