---
pagination:
   data: posts
   size: 1
   alias: sheet
   addAllPagesToCollections: true
tags: post
permalink: "posts/{{ sheet.title | slug }}/"
eleventyComputed:
  title: "{{ sheet.title }}"
  date: "{{ sheet.date }}"
  content: "{{ sheet.content }}"
  description: "{{ sheet.description }}"
layout: post
---

{{ content | safe }}
